<!-- use container-fluid, row and col sizes classes so bootstrap puts the author on same line as title -->
<div class="row container-fluid">
    <div class="col-lg-12">
        <!-- LOADING ICON ====================================== -->
        <!-- show loading icon if the loading variable is set to true -->
        <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-spin"></span> </p>
        <div class="row">
            <h1 class="col-lg-6">{{article.article_title}}</h1>
            <h3 class="col-lg-3">by:{{ article.article_author }}</h3>
        </div>
        <p class="col-lr-12">{{ article.article_body }}</p>

    </div>
</div>